.banner {
    flex-direction: column;
    display:flex;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 250px;
    background-color: gray;
    border: 1px solid #ccc;
}