.banner {
    flex-direction: column;
    display:flex;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 250px;
    background-color: gray;
    border: 1px solid #ccc;
}

#sobre {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}